.app {
  display: flex;
  font-family: Poppins, sans-serif;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 40px;
  background: linear-gradient(to top, #F3E79B, #FABC82, #F59280, #DC6F8E, #AB5B9E, #5C53A5);  min-height: 100vh;
}

.alarm-widget {
    width: 350px;
    padding: 30px;
    border-radius: 50px;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    mix-blend-mode: soft-light;
}

.alarm-widget--inactive {
  opacity: 0.6;
}

.alarm-widget__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alarm-widget__name {
  font-size: 30px;
  font-weight: 400;
}

.alarm-widget__icon {
  font-size: 20px;
}

.alarm-widget__time {
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
}

.alarm-widget__days {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.alarm-widget__day {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 24px;
}

.alarm-widget__day-label {
    font-size: 20px;
    font-weight: 400;
}

.alarm-widget__day--active {
  opacity: 1;
}

.alarm-widget__day--inactive {
  opacity: 0.5;
}

.alarm-widget__dot {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background: white;
}

.alarm-widget__dot--visible {
  visibility: visible;
}

.alarm-widget__dot--hidden {
  visibility: hidden;
}