@import "tailwindcss";

@layer base {
  @font-face {
    font-family: "Google Sans Flex";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("./assets/fonts/google-sans-flex/GoogleSansFlex_24pt-Thin.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Google Sans Flex";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("./assets/fonts/google-sans-flex/GoogleSansFlex_24pt-ExtraLight.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Google Sans Flex";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("./assets/fonts/google-sans-flex/GoogleSansFlex_24pt-Light.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Google Sans Flex";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/google-sans-flex/GoogleSansFlex_24pt-Regular.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Google Sans Flex";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("./assets/fonts/google-sans-flex/GoogleSansFlex_24pt-Medium.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Google Sans Flex";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("./assets/fonts/google-sans-flex/GoogleSansFlex_24pt-SemiBold.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Google Sans Flex";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./assets/fonts/google-sans-flex/GoogleSansFlex_24pt-Bold.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Google Sans Flex";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("./assets/fonts/google-sans-flex/GoogleSansFlex_24pt-ExtraBold.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Google Sans Flex";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./assets/fonts/google-sans-flex/GoogleSansFlex_24pt-Black.ttf")
      format("truetype");
  }
}

@theme {
  --default-font-family: "Google Sans Flex", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}
